<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dsc.ufocus.mapper.DbGrpRelMapper">
  <resultMap id="BaseResultMap" type="cn.dsc.ufocus.entity.DbGroupRel">
    <!--@mbg.generated-->
    <!--@Table db_grp_rel-->
    <id column="db_grp_id" jdbcType="BIGINT" property="dbGroupId" />
    <id column="db_inst_id" jdbcType="BIGINT" property="dbInstanceId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    db_grp_id, db_inst_id
  </sql>
</mapper>