<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dsc.ufocus.mapper.DbTicketScrmMapper">
  <resultMap id="BaseResultMap" type="cn.dsc.ufocus.entity.DbTicketScrum">
    <!--@mbg.generated-->
    <!--@Table db_ticket_scrm-->
    <id column="db_ticket_scrm_id" jdbcType="BIGINT" property="id" />
    <result column="ver_num" jdbcType="VARCHAR" property="versionNum" />
    <result column="ver_desc" jdbcType="LONGVARCHAR" property="versionDesc" />
    <result column="crt_usr_id" jdbcType="BIGINT" property="createUserId" />
    <result column="crt_tm" jdbcType="TIMESTAMP" property="createTime" />
    <result column="latest_update_usr_id" jdbcType="BIGINT" property="latestUpdateUserId" />
    <result column="latest_update_tm" jdbcType="TIMESTAMP" property="latestUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    db_ticket_scrm_id, ver_num, ver_desc, crt_usr_id, crt_tm, latest_update_usr_id, latest_update_tm
  </sql>
</mapper>