<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dsc.ufocus.mapper.DbTicketMapper">
  <resultMap id="BaseResultMap" type="cn.dsc.ufocus.entity.DbTicketEntity">
    <!--@mbg.generated-->
    <!--@Table db_ticket-->
    <id column="ticket_id" jdbcType="BIGINT" property="id" />
    <result column="db_grp_id" jdbcType="BIGINT" property="dbGroupId" />
    <result column="db_ticket_scrm_id" jdbcType="BIGINT" property="dbTicketScrumId" />
    <result column="db_ticket_scrm_module_id" jdbcType="BIGINT" property="dbTicketScrumModuleId" />
    <result column="ticket_nm" jdbcType="VARCHAR" property="ticketName" />
    <result column="bfr_db_ticket_id" jdbcType="BIGINT" property="beforeDbTicketId" />
    <result column="adt_state" jdbcType="VARCHAR" property="auditState" />
    <result column="prfm_state" jdbcType="VARCHAR" property="performState" />
    <result column="text_cntnt" jdbcType="LONGVARCHAR" property="textContent" />
    <result column="crt_usr_id" jdbcType="BIGINT" property="createUserId" />
    <result column="crt_tm" jdbcType="TIMESTAMP" property="createTime" />
    <result column="latest_update_usr_id" jdbcType="BIGINT" property="latestUpdateUserId" />
    <result column="latest_update_tm" jdbcType="TIMESTAMP" property="latestUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ticket_id, db_grp_id, db_ticket_scrm_id, db_ticket_scrm_module_id, ticket_nm, bfr_db_ticket_id, 
    adt_state, prfm_state, text_cntnt, crt_usr_id, crt_tm, latest_update_usr_id, latest_update_tm
  </sql>
</mapper>