<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dsc.ufocus.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="cn.dsc.ufocus.entity.UserEntity">
    <!--@mbg.generated-->
    <!--@Table usr-->
    <id column="usr_id" jdbcType="BIGINT" property="id" />
    <result column="usr_nm" jdbcType="VARCHAR" property="userName" />
    <result column="acc_no" jdbcType="VARCHAR" property="accountNo" />
    <result column="phn_no" jdbcType="VARCHAR" property="phoneNo" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="lck_flg" jdbcType="BIT" property="lockFlag" />
    <result column="crt_usr_id" jdbcType="BIGINT" property="createUserId" />
    <result column="crt_tm" jdbcType="TIMESTAMP" property="createTime" />
    <result column="upt_usr_id" jdbcType="BIGINT" property="updateUserId" />
    <result column="upt_tm" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    usr_id, usr_nm, phn_no, email, lck_flg, crt_usr_id, crt_tm, upt_usr_id, upt_tm
  </sql>
  <sql id="Join_Column">
    u.usr_id, u.usr_nm, u.phn_no, u.email, u.lck_flg, u.crt_usr_id, u.crt_tm, u.upt_usr_id, u.upt_tm
  </sql>

  <select id="selectByAccountNo" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from usr where acc_no = #{accountNo}
  </select>

  <select id="selectByQuery" resultMap="BaseResultMap">
    select <include refid="Join_Column" />
    from usr u
    <if test="query.roleId != null">
      inner join usr_role_rel r on u.usr_id = r.usr_id
    </if>
    <where>
      <if test="query.userName != null and query.userName != ''">
        and u.usr_nm like concat('%', #{query.userName}, '%')
      </if>
      <if test="query.phoneNo != null and query.phoneNo != ''">
        and u.phn_no like concat('%', #{query.phoneNo}, '%')
      </if>
      <if test="query.lockFlag != null">
        and u.lck_flg = #{query.lockFlag}
      </if>
      <if test="query.roleId != null">
        and r.role_id = #{query.roleId}
      </if>
    </where>
    order by u.usr_id desc
  </select>

  <select id="select" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from usr
    <where>
      <if test="query.keyword != null and query.keyword != ''">
        and usr_nm like concat('%', #{query.keyword}, '%')
      </if>
    </where>
    </select>
</mapper>